.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
.DS_Store
._*
data-raw/
data/*
!data/inst/
doc/
fig/
Julia/deprecated/
R/deprecated/
R/dev/
R/extensions/
src-deprecated/
Rmd/
.Renviron
.Rprofile
Rplots.pdf